name: LineageOS Devices Tracker Nightly

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

concurrency: 
  group: lineageos-devices-tracker
  cancel-in-progress: false

jobs:
  track:
    name: Track
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run tracker.sh
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: ./lineageos/devices/tracker.sh nightly
